body{
    background-image: url(imagenes/fondo.jpg);
    font-family: Arial, Verdana, Helvetica, sans-serif;
    color: #6c7b84;
    font-size: 12px;
    margin: 0%;
}

#blanco{
    background-color: white;
    padding: 15px;
    width: 800px;
}

#todo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#negrosup{
    height: 19px;
    background-color: #000;
    width: 100%;
}

header{
    height: 90px;    
}

header > img{
    background-image: url(imagenes/imgport.png);
    position: absolute;
    width: 177px;
    height: 231px;
    margin-left: 573px;
    margin-top: -240px;
    margin-right: 50px;
}

header > h1{
    font-size: 2em;
    margin-left: 15px;
    margin-right: 15px;
}

header > h2{
    width: 500px;
    margin-left: 15px;
    font-size: 125%;
    font-weight: 100;
}

.logo{
    margin-top: 38px;
    margin-bottom: 19px;
}

nav{
    background-image: url(imagenes/fondomenu.jpg);
    height: 42px;
}

ol{
    list-style-type: none;
    margin-left: 10px;
    padding: 0;
    overflow: hidden;
}
  
li{
    float: left;
    height: 36px;
    border-right: 1px solid black;
}
  
li a{
    display: block;
    color: #3a86b8;
    text-align: center;
    margin-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-decoration: none;
}
  
li a:hover{
    background-color: #d2e9f0;
}

.activo{
    background-color: #e9f1f4;
}

section > h2{
    margin-top: 15px;
    margin-left: 7px;
}

article > h3{
    font-size: 175%;
    margin-bottom: 10px;
}

article > h3,h4,p{
    margin-left: 17px;
}

.trabajo{
    width: 65%;

}